{% extends "clinic/base.html" %}
{% block content %}
<div class="container volunteer">
    <div class="row top">
        <h2><a href="{% url 'index' %}">COVID-19 Clinic</a></h2>
        <h4>Frequently Asked Questions</h4>
    </div>

    <div class="row">
        <h6>What is COVID-19?</h6>
        <p>In early February, the World Health Organization gave the name coronavirus disease 2019
            to the disease caused by the 2019 novel coronavirus. Coronavirus disease 2019 is abbreviated as COVID-19.
            COVID can be broken into three parts, CO stands for corona, VI stands for virus, and D stands for disease.
        </p>
        <h6>How can I protect myself from COVID-19?</h6>
        <p>The best way to protect yourself is to avoid exposure to the 2019 novel coronavirus. If your state or local
            health officials issue quarantines, shelter in place orders or other mandates, following these orders will
            limit your exposure to the virus.
        </p>
        <p>Other steps you can take include washing your hands with soap for at least 20 seconds, not touching your face
            with unwashed hands, and practicing social distancing.</p>
        <h6>What are the symptoms of COVID-19?</h6>
        <p>COVID-19 symptoms typically appear 2-14 days after exposure. Symptoms include fever, cough, and shortness of
            breath.
        </p>
        <h6>When should I be tested for COVID-19?</h6>
        <p>If you develop symptoms such as fever, cough, or shortness of breath, and have been in contact with
            an individual who is known to have COVID-19 or have been in an area with sustained community spread,
            please contact your healthcare provider by phone. Your healthcare provider will determine if you need
            testing. If you do not have a primary healthcare provider, contact your local department of health to
            arrange testing.
        </p>
        <h6>How can I protect others if I test positive?</h6>
        <p>The best way to protect others is to simply stay home when you are sick, except to receive medical care.</p>
        <p>You can also protect others by covering your sneezes and coughs, wearing a face mask, and disinfecting
            commonly touched surfaces on a daily basis.
        </p>
        <h6>Is there a cure for COVID-19?</h6>
        <p>There is currently no specific cure for COVID-19.</p>
        <p>When an individual is suffering from severe symptoms, he or she may require hospitalization, supplemental
            oxygen, or may even require the use of a ventilator.
        </p>
    </div>
</div>
{% endblock %}